h2{display: flex;justify-content:space-between;}
.deck{height:12em;}
figure{
    max-height:100%;
}
img{max-height: 5em;}
.btn{
    background: wheat;
    color: darkblue;
    height: 3em;
    width: 25%;
}
#status{display: flex; justify-content: space-between;height:4em;}
.deck li div{
    display: block;
}
.deck li{
    display: flex;
    justify-content: space-between;
}
.deck li:hover{
    cursor: pointer;
    transition: .5s;
    transform: scale(1.1);
}
#shop aside{
    display: flex;
    max-height: 100%;
    overflow: hidden;
    font-size: 3.5em;
    color: goldenrod;
    justify-content: space-between;
}
aside img{height:120%;}
#rules{display: none;}
article{ display: block;}
    @media (max-width: 800px){
       .deck{
           display: block;
       } 
       .deck li{
           max-width: 95%;
       }
       main{
           height:850px;
       }
    }