
.deck{height:12em;}
figure{
    max-height:100%;
}
img{max-height: 5em;}
.btn{
    background: wheat;
    color: darkblue;
    height: 3em;
    width: 25%;
}
#status{display: flex; justify-content: space-between;height:4em;}
.deck li{
    display: flex;
}
aside{
    display: flex;
    max-height: 100%;
    overflow: hidden;
    font-size: 3.5em;
    color: goldenrod;
    justify-content: space-between;
}
aside img{height:120%;}